.button {
  display: block;
  padding: 16px 0;
  background-color: #81b3d2;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  border: none;
}
