.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 78px;
}

.form__item {
  margin: 0;
  margin-bottom: 50px;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}

.form__item + .button {
  margin: 0 auto;
  width: 280px;
}

.form__item:nth-child(1) {
  order: 1;
}

.form__item:nth-child(2) {
  order: 2;
}

.form__item:nth-child(3) {
  order: 3;
}

.form__item:nth-child(4) {
  order: 4;
}

.form__item:nth-child(5) {
  order: 5;
}

.form__item:nth-child(6) {
  order: 6;
}

.form__item:nth-child(7) {
  order: 7;
  display: none;
}

@media (min-width: @tablet-width) {
  .form {
    padding: 0 60px;
    margin-bottom: 100px;
  }

  .form__item {
    padding: 0;
  }

  .form__item:nth-child(1) {
    order: 2;
    width: 50%;
  }

  .form__item:nth-child(2) {
    order: 3;
    width: 100%;
  }

  .form__item:nth-child(3) {
    order: 1;
    width: 50%;
  }

  .form__item:nth-child(6) {
    width: 50%;
  }

  .form__item:nth-child(7) {
    width: 50%;
    display: block;
  }

  .form__item + .button {
    margin: 0;
  }

  .form__item--note {
    text-align: right;
    margin: 0;
    font-size: 14px;
    line-height: 58px;
    text-transform: uppercase;
  }
}

@media (min-width: @desktop-width) {
  .form {
    padding: 0 120px;
  }
}
