.item {
  position: relative;
  display: flex;
  border: none;
}

.item::before {
  position: absolute;
  content: "";
  top: -25px;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
}

.item__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.item__wrapper:last-child {
  margin-bottom: 0;
}

.item__title {
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.item__label {
  margin: 0;
  margin-right: 13px;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  color: @text-color-secondary;
  text-transform: uppercase;
}

.item__label--margin {
  margin-right: 18px;
}

.item__input {
  flex-grow: 2;
  width: 100%;
  height: 56px;
  border: none;
  box-sizing: border-box;
  background-color: @bg-color-secondary;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active,
  &:focus {
    border: 3px solid #e5e5e5;
    background-color: #ffffff;
  }
}

.item__input::placeholder {
  padding: 16px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @text-color-additional;
}

.item__textarea {
  width: 100%;
  padding: 15px;
  background-color: @bg-color-secondary;
  box-sizing: border-box;
  border: none;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active,
  &:focus {
    border: 3px solid #e5e5e5;
    background-color: #ffffff;
  }
}

.item__textarea::placeholder {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @text-color-additional;
}

@media (min-width: @tablet-width) {
  .item::before {
    display: none;
  }

  .item--border {
    border-top: 1px solid #dbdbdb;
  }

  .item__title {
    font-size: 21px;
    width: 280px;
    box-sizing: content-box;
  }

  .item__title--left {
    margin-left: 0;
    text-align: left;
  }

  .item__title--padding {
    padding: 0 70px;
  }
}

@media (min-width: @desktop-width) {
  .item__title--margin {
    margin-left: 70px;
  }

  .item__wrapper-tel {
    display: flex;
    justify-content: space-between;
  }

  .item__wrapper-info {
    display: flex;
    align-items: center;
  }

  .item__wrapper-info .item__input {
    width: 316px;
    flex-grow: 1;
  }

  .item__label-span {
    display: none;
  }
}
