.item {

}

.item__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.item__label {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  color: @text-color-secondary;
}

.item__input {

}

.item__input::placeholder {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  color: @text-color-additional;
  background-color: @bg-color-secondary;
}

.item__radio {

}

.item__checkbox {

}

.item__textarea {

}

.item__textarea::placeholder {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @text-color-additional;
  background-color: @bg-color-secondary;
}
