.main-nav {
  width: 320px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: @text-color;
  background-color: @bg-color;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: auto;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
    width: @tablet-width;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__item:nth-child(1) {
    order: 1;
  }

  .main-nav__item:nth-child(2) {
    order: 2;
  }

  .main-nav__item:nth-child(3) {
    order: 4;
  }

  .main-nav__item:nth-child(4) {
    order: 5;
  }

  .main-nav__item--logo {
    order: 3;
    height: 55px;
    margin-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    width: @desktop-width;
  }
}
/*
.main-nav__item--active {

}
*/
