.main-nav {
  position: relative;
  width: 320px;
  margin: 0 auto;
  min-height: 56px;
  background-color: #ffffff;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 22px;
  z-index: 2;
  display: block;
  background-color: transparent;
  cursor: pointer;
  border: none;

  &:hover,
  &:active {
    background-color: transparent;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 17px;
  right: 0;
  width: 22px;
  height: 22px;
  background-image: url("../img/icon-menu.svg");
}

.main-nav--opened .main-nav__toggle {
  &::before {
    content: "";
    position: absolute;
    top: 17px;
    right: 0;
    width: 22px;
    height: 22px;
    background-image: url("../img/icon-cross.svg");
  }
}

.main-nav__logo {
  display: block;
  min-height: 56px;
  background-color: #ffffff;
}

.main-nav__logo-image {
  position: absolute;
  width: 101px;
  height: 83px;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .site-list {
    display: none;
  }

  .main-nav--closed .main-nav__logo {
    min-height: 0;
  }

  .main-nav--opened .main-nav__logo-image {
    top: auto;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: @tablet-width;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__logo {
    min-height: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: @desktop-width;
  }

  .main-nav__logo-image {
    width: 187px;
    height: 96px;
  }
}
