.radio {
  margin: 0;
  padding: 0;
  list-style: none;
}

.radio__option {
  margin-top: 17px;
  margin-bottom: 43px;
}

.radio__option:last-child {
  margin-bottom: 17px;
}

.radio__label {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 80px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
  cursor: pointer;
  user-select: none;
}

.radio__input + .radio__label::before {
  position: absolute;
  content: "";
  top: -12px;
  left: 0;
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.radio__input + .radio__label:hover::before {
  background-color: #e5e5e5;
}

.radio__input + .radio__label:active::before {
  background-color: #d5d5d5;
}

.radio__input:checked + .radio__label::after {
  position: absolute;
  content: "";
  top: 4px;
  left: 17px;
  width: 22px;
  height: 22px;
  background-color: #333333;
  border-radius: 50%;
}

.radio__input:checked + .radio__label:active::after {
  background-color: #a4a4a4;
}

@media (min-width: @tablet-width) {
  .radio__option {
    margin-bottom: 51px;
  }

  .radio__label {
    padding-left: 76px;
  }
}

@media (min-width: @desktop-width) {
  .radio__label {
    padding-left: 80px;
  }

  .radio__input + .radio__label::before {
    top: -15px;
    left: 3px;
  }

  .radio__input:checked + .radio__label::after {
    top: 1px;
    left: 20px;
  }
}
