/*
.review {

}
*/
.review__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.review__text {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  color: @text-color-secondary;
  text-transform: uppercase;
  text-align: center;
}
/*
.review__form {

}
*/
